@font-face {
	font-family: 'icomoon';
	src:  url('../fontIcomoon/fonts/icomoon.eot?t5umas');
	src:  url('../fontIcomoon/fonts/icomoon.eot?t5umas#iefix') format('embedded-opentype'),
	  url('../fontIcomoon/fonts/icomoon.ttf?t5umas') format('truetype'),
	  url('../fontIcomoon/fonts/icomoon.woff?t5umas') format('woff'),
	  url('../fontIcomoon/fonts/icomoon.svg?t5umas#icomoon') format('svg');
	font-weight: normal;
	font-style: normal;
	font-display: block;
  }
  
  [class^="icon-"], [class*=" icon-"] {
	/* use !important to prevent issues with browser extensions that change fonts */
	font-family: 'icomoon' !important;
	speak: never;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;
  
	/* Better Font Rendering =========== */
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
  }
  
  .icon-copyright:before {
	content: "\e900";
  }
  .icon-phone:before {
	content: "\e942";
  }
  .icon-facebook2:before {
	content: "\ea91";
  }
  .icon-instagram:before {
	content: "\ea92";
  }

body {
	width: 100%;
	background-color: rgb(237, 237, 238);
}
  
/* HEADER */
header, nav {
	background-color: rgb(61, 61, 61);
}

.lesicones *{
	color: white;
	font-size: 2rem;
	transition-property: transform;
	transition-duration: 0.5s;
	transition-timing-function: ease;
}

.lesicones *:hover {
	color: rgb(249, 178, 50);
	text-decoration: none;
	transform: rotate(20deg);
}

a, .logo {
	display: flex;
	justify-content: center;
}

.header .logo{
	background-color: white;
	border-radius: 100%;
}

/* NAVBAR */

nav, .navbar {
	display: flex;
	justify-content: center;
}
.nav-pills .nav-link.active,
.nav-pills .show>.nav-link {
	background-color: rgb(249, 178, 50);
	color: black;
}

.show {
	padding: 0;
	background-color: rgba(61, 61, 61, 0.9);
}

.dropdown-item {
	color: white;
	border-bottom: solid 1px rgb(249, 178, 50);
}

.dropdown-item:hover {
	color: black;
	background-color: rgb(249, 178, 50);
}

.menu-burger {
	width: 2rem;
	height: 2rem;
	background-color: white;
}

li>a:hover {
	
}

.nav-link{
	color: white;
	border-bottom: solid 1px rgb(249, 178, 50);
}

.nav-link:hover {
	background-color: rgb(249, 178, 50);
	-webkit-transform:skew(10deg);
	-moz-transform:skew(10deg);
	-o-transform:skew(10deg);
	tranform:skew(10deg);
}

/* END NAVBAR */

/* END HEADER */

/* CAROUSSEL */
.parent-carousel * {
	max-height: 500px;
	max-width: 960px;
}

/* END CAROUSSEL */

/* CARD */

.card {
	display: flex;
	flex-direction: row;
	width: 100%;
}

.imgcard {
	width: 50%;
}

.macard {
	width: 50%;
	background-color: rgb(61, 61, 61);
}


/* END CARD */

  
  /* .quotes {
	width: 80vw;
	min-height: 400px;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	z-index: 2;
  }
  
  .quotes .box {
	position: relative;
	width: 25vw;
	height: 50vh;
	min-height: 320px;
	background: #f2f2f2;
	overflow: hidden;
	transition: all 0.5s ease-in;
	z-index: 2;
	box-sizing: border-box;
	padding: 30px;
	box-shadow: -10px 25px 50px rgba(0, 0, 0, 0.3);
  }
  
  .quotes .box::before {
	content: '\201C';
	position: absolute;
	top: -20px;
	left: 5px;
	width: 100%;
	height: 100%;
	font-size: 120px;
	opacity: 0.2;
	background: transparent;
	pointer-events: none;
  }
  
  .quotes .box::after {
	content: '\201D';
	position: absolute;
	bottom: -10%;
	right: 5%;
	font-size: 120px;
	opacity: 0.2;
	background: transparent;
	filter: invert(1);
	pointer-events: none;
  }
  
  .quotes .box p {
	margin: 0;
	padding: 10px;
	font-size: 1.2rem;
  }
  
  .quotes .box h2 {
	position: absolute;
	margin: 0;
	padding: 0;
	bottom: 10%;
	right: 10%;
	font-size: 1.5rem;
  }
  
  .quotes .box:hover {
	color: #f2f2f2;
	box-shadow: 20px 50px 100px rgba(0, 0, 0, 0.5);
  }
  
  .quotes .bg {
	position: absolute;
	top: 0;
	left: 0;
	z-index: 1;
	opacity: 0;
	transition: all 0.5s ease-in;
	pointer-events: none;
	width: 100%;
	height: 200%;
	overflow: hidden;
  }
  
  .quotes .box.box1:hover,
  .quotes .box.box1:hover~.bg {
	opacity: 1;
	background: #e2a9e5;
  background: -moz-linear-gradient(-45deg, #e2a9e5 15%, #2b94e5 100%);
  background: -webkit-linear-gradient(-45deg, #e2a9e5 15%,#2b94e5 100%);
  background: linear-gradient(135deg, #e2a9e5 15%,#2b94e5 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e2a9e5', endColorstr='#2b94e5',GradientType=1 );
  }
  
  .quotes .box.box2:hover,
  .quotes .box.box2:hover~.bg {
	opacity: 1;
	background: #632c65;
  background: -moz-linear-gradient(-45deg, #632c65 15%, #56a5e2 100%);
  background: -webkit-linear-gradient(-45deg, #632c65 15%,#56a5e2 100%);
  background: linear-gradient(135deg, #632c65 15%,#56a5e2 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#632c65', endColorstr='#56a5e2',GradientType=1 );
  }
  
  .quotes .box.box3:hover,
  .quotes .box.box3:hover~.bg {
	opacity: 1;
	background: #4b384c;
  background: -moz-linear-gradient(-45deg, #4b384c 15%, #da5de2 100%);
  background: -webkit-linear-gradient(-45deg, #4b384c 15%,#da5de2 100%);
  background: linear-gradient(135deg, #4b384c 15%,#da5de2 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#4b384c', endColorstr='#da5de2',GradientType=1 );
  }
   */